<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="">Snipp.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="portfolio.html" id="dropdown04" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Portfolio</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="portfolio.html">Portfolio</a>
            <a class="dropdown-item" href="portfolio-single.html">Portfolio Single</a>
          </div>
        </li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Case Studies</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
        <li class="nav-item cta"><a href="contact.html" class="nav-link"><span>{{login}}</span></a></li>
      </ul>
    </div>
  </div>
</nav>